/* Adminpage */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(151,35,32), rgb(56,55,114), rgb(151,35,32));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 150%;
    padding-left: 6%;
    transform: scale(0.95); 
    transform-origin: top left; 
}

header {
    position: relative; 
    background: transparent;
    padding: 0.3% 0;
    text-align: center; 
}

.header-image {
    position: absolute;
    top: 10px; 
    right: 10px; 
    width: 100px; 
    height: auto; 
}

h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.title {
    font-size: 55px;
    font-weight: 550;
    color: rgb(56, 55, 114);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    text-align: center;
    padding: 20px 0; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statistics-button-container {
    position: absolute;
    top: 45%;
    left: 20px; 
    transform: translateY(-50%);
}

.column {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-right: 20px;
    transition:  0.2s;
}

.column:last-child {
    margin-right: 0;
}

.blockTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(56, 55, 114);
    width: 100%;
    border-bottom: 1px solid grey;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: rgb(56, 55, 114);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(151, 25, 32);
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
    border-color: rgb(56, 55, 114);
}

input[type="text"] {
    width: calc(100% - 24px); 
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    height: 18%;
}

input[type="text"]:focus {
    outline: none;
    border-color: rgb(56, 55, 114);
}

.close-button {
    cursor: pointer;
    font-size: 16px;
    color: #373672; 
    margin-left: 5px; 
}

.close-button:hover {
    text-decoration: underline; 
}





/* Homepage */
/* Allgemeine Stile */

[data-bs-theme="dark"] body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(100, 3, 0), rgb(16, 14, 109), rgb(100, 3, 0));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(188, 179, 164, 0.6);
    /* Rote Hintergrundfarbe mit 50% Transparenz */
    /* padding: 10px; */
}

[data-bs-theme="dark"] .card {
    background-color: rgba(44, 44, 44, 0.6);
}

.navbarhomepage {
    /* background-color: transparent; */
    background-color: rgba(188, 179, 164, 0.6);
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

[data-bs-theme="dark"] .navbarhomepage {
    background-color: rgba(44, 44, 44, 0.6);
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex: 1;
}

.header-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Dark Mode-Stile */
.darkModeButton {
    font-size: 16px;
    margin-left: 90%;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    /* Move the button up by half of its own height */
    right: 20px;
}

.darkModeButton:hover {
    font-size: 16px;
    margin-left: 90%;
    background-color: #727272;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    /* Move the button up by half of its own height */
    right: 20px;
}

#kw {
    margin-top: 10px;
    font-size: 20px;
}

.block {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
} 
/* its the block part that i have to work on(betty) */

.block-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
    border-bottom: 5px white;
}

.block-subtitle {
    font-size: 14px;
    color: #777777;
}

/* Arrange blocks for Monday-Wednesday and Thursday-Friday */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bg-light {
    background-color: white !important;
}

[data-bs-theme="dark"] .bg-light {
    background-color: #333333 !important;
}

[data-bs-theme="dark"] .bg-secondary {
    background-color: #202020 !important;
}

.bg-red {
    background-color: rgba(255, 8, 0, 0.5);
}
.img-thumbs-up{
    width: 1rem;
}
.img-thumbs-down{
    width: 1rem;
    transform: rotate(180deg);
}
[data-bs-theme="dark"] .img-thumbs-up {
    width: 1rem;
    filter: invert(100%);
}
[data-bs-theme="dark"] .img-thumbs-down {
    width: 1rem;
    filter: invert(100%);
    transform: rotate(180deg);
}




/* Statistiks */

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ADADAD;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
.navbar-title {
    font-weight: bold;
    margin: 0;
    font-size: 42px;
    flex-grow: 1;
    text-align: center;
    color: white;
}
.navbar-brand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img {
    width: 48;
    height: 40;
    margin-top: 0;
}
.bg-gradient{
    background-image: linear-gradient(
        to right top,
        rgba(151, 36, 32, 0.9),
        rgba(56, 55, 114, 0.9),
        rgba(151, 36, 32, 0.9));
}
#adminpage-button {
    position: absolute;
    left: 20px;
    top: 10px;
    margin: 0;
    margin-top: 5px;
    padding: 12px 24px;
    background-color: rgb(56, 55, 114);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.margin-img {
    margin-bottom: 10%;
    margin-right: 10%;
}