/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(151,35,32), rgb(56,55,114), rgb(151,35,32));
}

.container {
    padding: 20px;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 20px;
    margin-top: 2%;
}

.card:hover {
    transform: scale(1.03);
}

/* Navbar-Stile */
.navbar {
    background-color: transparent;
    color: #ffffff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Dark Mode-Stile */
.darkModeButton {
    font-size: 16px;
    margin-left:90% ;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    
    cursor: pointer;

    
}


/* Woche anzeigen-Stile */
#kw {
    margin-top: 10px;
    font-size: 20px;
}

/* Weitere CSS-Stile hier einfügen */

/* Neue Stile für Blocks */
.block {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 20px;
    margin: 10px;
}

.block:hover {
    transform: scale(1.03);
}

.block-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.block-subtitle {
    font-size: 14px;
    color: #777777;
}

/* Arrange blocks for Monday-Wednesday and Thursday-Friday */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-1 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}
.col-2 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}
.col-3 {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

.col-4 {
    flex: 0 0 calc(33.3% - 20px);
    margin-bottom: 20px;
    margin-left: 15%;
}
.col-5 {
    flex: 0 0 calc(33.3% - 20px);
    margin-bottom: 20px;
    margin-right: 15%;
}
