.navbar {
    background-color: #dddada;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#darkmode {
    background-color: #333;
    color: white;
    margin-right: 10px
}

.navbar-brand img {
    margin-left: 10px;
}